@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #00605f;
  --secondary-color: #017479;
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --white: #ffffff;
  --bg-error-color: #B00020;
  --max-width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
      to right,
      rgba(2, 82, 89, 0.9),
      rgba(255, 255, 255, 0)
    ),
    url("./static/img/Bayon-Temple.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  transition: background-image 1s ease-in-out;
  
}

h1 {
  font-size: 4rem;
  color: #ffffff;
}

.display-1 {
  font-size: 4rem;
  font-weight: 400;
}

.display-2 {
  font-size: 3.5rem;
  font-weight: 400;
}


p {
  padding: 0.2rem;
  font-size: 1rem;
}
a {
  text-decoration: none;
  text-decoration-color: none;
  color: #ffffff;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}

.block {
  display: block;
}

hr {
  opacity: 30;
}

.container {
  max-width: var(--max-width);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container .nav {
  width: 100vw;
  padding: 1rem;
}

nav {
  display: flex;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  background-color: rgba(2, 82, 89, 0.8);
  background: linear-gradient(to right, rgba(0, 17, 19, 0.8), rgba(3, 55, 59, 0.2));
  top: 0%;
}

.nav__brand {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.nav__logo img {
  max-width: 50px;
}

.nav__brand .brand-item {
  color: aliceblue;
  font-weight: 700;
  font-size: larger;

}


.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav .link:hover {
  border-bottom: 0.2rem solid;
  border-color: #ffffff;
  transition-delay: 200ms;
}

.link a {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
}

.search {
  width: 100%;
  max-width: 500px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--white);
  border-radius: 2rem;
  transition: 0.3s;
}

.search input {
  width: 100%;
  font-size: 1rem;
  color: var(--primary-color);
  outline: none;
  border: none;
  margin-right: 1rem;
}

.search input::placeholder {
  color: var(--secondary-color);
}

.search span {
  font-size: 1rem;
  color: var(--primary-color);
}

.login {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.login:hover {
  background-color: var(--secondary-color);
}

.login span {
  padding: 5px 8px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 100%;
}

.destination__container {
  position: relative;
  padding: 5rem 0 5rem 12rem;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: 1rem;
  gap: 2rem;
  align-items: center;
  
}

.bg__img__1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-100%);
  opacity: 0.6;
  z-index: -1;
}

.bg__img__2 {
  position: absolute;
  bottom: 2rem;
  right: -50%; 
  opacity: 0; 
  transform: translateX(100%);
  z-index: -1;
  animation: blinkMove 15s linear infinite; 
}

/* ABOUT US */       
.popup {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(0.7rem);
  backdrop-filter: blur(0.7rem);
  z-index: 1000;
}

/* Style for the content inside the popup */
.d-flex {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 1rem;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: calc(90% - 100px);
  max-height: calc(95% - 12rem);
  height: 100%;
  width: 100%;
}

.divider-y {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.text-white {
  color: #ffffff;
}

.popup-show {
  display: flex; 
}

.btn__close {
  position: absolute;
  --translate-y: -50%;
  left: 50%;
}

.d-flex .btn-close {
  position: absolute;
  margin-top: 1rem;
  margin-right: 1rem;
  top: 0%;
  right: 0%;
  text-decoration: none !important;
  padding: 0.75rem 0.75rem;
  border-radius: 25%;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--bg-error-color);
  cursor: pointer;
  box-shadow: inset 2px 0px 2px rgba(0, 0, 0, 0.5 );
}

/* Define the keyframes for the blink animation */
@keyframes blinkMove {
  0% {
    right: -50%; 
    opacity: 0; 
  }
  25% {
    right: 25%; 
    opacity: 1; 
  }
  50% {
    right: 50%; 
    opacity: 1; 
  }
  75% {
    right: 75%; 
    opacity: 1; 
  }
  100% {
    right: 150%; 
    opacity: 0; 
  }
}

/* About Us card */
/* Container to align the 'Our Team' and member cards */
.flex {
  display: flex;
  padding: 1rem;
  height: 100%;
}

.flex.items-center {
  align-items: center;

}

.flex.items-start {
  align-items: flex-start; 
}

.flex.space-between {
  justify-content: space-between; 
}
/* Style for the 'Our Team' block */
.card {
  width: 30%; 
}

bottom-0 {
  padding: 0;
  margin: 0;
  bottom: 0%;
}

.display-3 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
}

/* Style for the member cards */
.card-member {
  background-color: #f0f0f0;
  border-radius: 1rem;
  padding: 0.3rem;
  margin-bottom: 1.5rem;
  margin: 1rem;
}

.avatar {
  font-size: 3rem; /* Icon size for avatar */
  color: #00ff88;
  border-radius: 25%;
  background-color: rgba(2, 82, 89, 0.8);
  padding: 1.5rem;
}

.team-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f0f0f0;
}

.member-description {
  color: #d6d5d5c4;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.member-title {
  color: #ffffff;
  font-weight: 500;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  background-color: #00605f;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
  width: 100%;
}

.member-title, .text-center {
  text-align: center;
}

/* Flex styling for the team member rows */
.flex.flex-row {
  display: flex;
  align-items: center;
}

.flex.flex-column {
  display: flex;
  flex-direction: column;
}

.bg-gray-30 {
  background-color: rgba(29, 29, 29, 0.5);
}

.bg-transparent {
  background-color: rgba(255, 255, 255, 0);
}

.card-member.bg-gray-30:hover {
  background-color: rgba(29, 29, 29, 0.7);
  transform: scale(1.05);
  transition: ease-in-out;
  transition-duration: 200;
  transition-delay: 200;
}

.modal {
  position: fixed; 
  z-index: 1000; 
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  transition: ease-in-out;
  transition-delay: 300;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  position: relative;
  padding: 20px;
  border: 1px solid #888888de;
  width: 80%; 
  max-width: 660px;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  color: #838383;
  top: 1rem;
  right: 1rem;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 8px;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

#modalMessage {
  font-size: 16px;
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* FORM */
.container .text{
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, var(--secondary-color), #56d8e4, var(--secondary-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 5rem;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  font-size: 14px;
  padding-left: 0.3rem;
  margin: auto;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}


.submit-btn {
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(right, #56d8e4, var(--secondary-color), #56d8e4, var(--secondary-color));
  transition: all 0.4s;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.submit-btn .input-data:hover .inner{
  left: 2px;
}

.socials {
  position: absolute;
  top: 25rem;
  margin-right: 4rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.socials::after {
  position: absolute;
  content: "";
  top: -22rem;
  left: 15px;
  height: 15rem;
  width: 2px;
  background-color: var(--white);
}

.socials span {
  font-size: 2rem;
  color: var(--white);
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  font-weight: 800;
  color: var(--white);
}

.decoration-none {
  text-decoration: none !important;
  text-decoration-line: none;
}
.content h1 span {
  -webkit-text-stroke: 2px var(--white);
  -webkit-text-fill-color: transparent;
}

.content p {
  max-width: 350px;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  color: var(--white);
  
}

.content .btn {
  padding: 0.75rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--secondary-color);
  cursor: pointer;
  box-shadow: inset 2px 0px 2px rgba(0, 0, 0, 0.5 );

}

.content .btn:hover {
  background-color: var(--primary-color);
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.8 );
}

.destination__grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 35rem;
  justify-items: end;
  gap: 1rem;
  overflow: hidden;
}

.destination__card {
  height: 100% !important;
  scroll-behavior: smooth;
  background-color: var(--white);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
  margin-top: 1rem;
}

.destination__card img {
  width: 100%;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card__content {
  padding: 1rem;
}

.card__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.card__content p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: var(--text-light);
}

.card__content .btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  cursor: pointer;
}

@media (width < 1200px) {
  .search {
    max-width: 235px;
  }

  .destination__container {
    grid-template-columns: 1fr;
  }
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .content h1 {
    font-size: 4rem;
  }

  .destination__grid {
    grid-template-rows: repeat(1, 1fr);
  }
}

@media (width < 600px) {
  .search {
    display: none;
  }

  .destination__container {
    padding-left: 4rem;
  }

  .content h1 {
    font-size: 3rem;
  }

  .destination__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}

.slideshow-container:hover {
  animation-play-state: paused;
}

